<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="2.0.0" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TestWindow.Interfaces" version="11.0.61030" targetFramework="net472" />
  <package id="Moq" version="4.16.0" targetFramework="net472" />
  <package id="NUnit" version="3.13.1" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Unity" version="4.0.1" targetFramework="net472" />
  <package id="XMLUnit.Core" version="2.9.0" targetFramework="net472" />
  <package id="XMLUnit.NUnit3.Constraints" version="2.9.0" targetFramework="net472" />
</packages>