<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TestPlatform.ObjectModel" version="16.6.1" targetFramework="net472" />
  <package id="NuGet.Frameworks" version="5.0.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net472" />
</packages>